{% extends "admin_tools/dashboard/module.html" %}
{% load nvd3_tags %}

{% if module.require_chart_jscss %}
    {% load static %}
{% endif %}

{% block module_content %}
    {% if module.require_chart_jscss %}
        <link media="all" href="{% static 'nvd3/build/nv.d3.css' %}" type="text/css" rel="stylesheet" />
        <script src="{% static 'd3/d3.js' %}" type="text/javascript"></script>
        <script src="{% static 'nvd3/build/nv.d3.js'%}" type="text/javascript"></script>
    {% endif %}

    {% if module.form_field %}
        <form class="stateform" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ module.form_field }}
        </form>
        <br/>
    {% endif %}

    {% include_container module.chart_container module.chart_height module.chart_width %}

{% endblock %}

