{% extends "admin/index.html" %}
{% load admin_chart_tags %}
{% load static %}

{% block extrastyle %}
   {{ block.super }}
   <link media="all" href="{% static 'nvd3/build/nv.d3.css' %}" type="text/css" rel="stylesheet" />
   <script src="{% static "admin_tools/js/jquery/jquery.min.js" %}"></script>
   <script src="{% static 'd3/d3.js' %}" type="text/javascript"></script>
   <script src="{% static 'nvd3/build/nv.d3.js'%}" type="text/javascript"></script>
   <script src="{% url 'admin-charts' %}" type="text/javascript"></script>
   <style>
   .admin_charts {
       padding: 20px 40px;
   }
   </style>
{% endblock %}

{% block footer %}
   {% if request.resolver_match.view_name == 'admin:index' %}
      {% chart_containers %}
   {% endif %}
   {{ block.super }}
{% endblock %}
