Django>=1.3.0
python-dateutil==1.5
django-jsonfield==0.6
django-qsstats-magic>=0.6.1
django-chart-tools>=0.2.1
python-memcached>=1.47
hg+https://bitbucket.org/izi/django-admin-tools
hg+https://bitbucket.org/kmike/django-cache-utils
